/* Extra help and resets */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Typography */

.screen-reader {
    visibility: hidden;
}
/* 
h1, h2, h3 {
    
} */

a {
    color: #e2574c;
    text-decoration: none;
    font-family: 'Raleway Medium';
    font-weight: 300;
}

a:hover, a:focus {
    filter: brightness(80%)
}

p {
    font-size: 1rem;
}

/* Layout */

.container {
    display: flex;
    padding: 0 2%;
    margin: 0 auto;
    width: 100%;
}

section {
    padding: 4rem;
}

.products {
    padding: 4rem 0rem 4rem 0rem;
}

.category-wide {
    border-left: 0;
    border-right: 0;
    flex: 2 0 100%;
    max-width: 100%;
}

.category-square {
    flex: 1 0 50%;
    max-width: 50%;
}

.category-square, .category-wide {
    border: 4px solid #fff;
    position: relative;
}

/* Header */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem 1rem 3rem;
}

.logo img {
    flex: 0 1 50%;
    max-width: 160px;
}

/* Navigation menu */

.main-nav {
    align-self: center;
    flex: 1 0 auto;
}

.main-nav ul{
    text-align: center;
    word-spacing: 2rem;
    color: #e2574c;
    text-decoration-line: none;
}

.main-nav li {
    display: inline-block;
    flex-direction: row;
    font-weight: 700;
    text-transform: uppercase;
}

.cart {
    cursor: pointer;
}

.cart img {
    max-width: 62px;
}

/* Banner */

.banner {
    background:
    linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/banner-girl.png) no-repeat center 60px,
    url(../images/flower-bkgd.jpg) repeat-x top;
    background-size: cover,250px 615px,contain;
    height: 550px;
    min-width: 1240px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
}

.banner-text {
    color: #fff;
    line-height: 1;
    text-shadow: 2px 2px 4px hsla(0, 0%, 40%, 0.8);
    text-transform: uppercase;
    flex-direction: column;
}

.collection {
    font-family: 'Raleway Medium';
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.season {
    font-family: 'Playfair Display Regular';
    font-weight: 400;
    text-transform: none;
    font-size: 4rem;
}


.about {
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto;
    font-weight: normal;
    align-items: center;
}

h2 {
    font-family: 'Playfair Display Italic';
    margin-bottom: 2rem;
}

.style {
    font-family: 'Playfair Display Bold';
    font-style: normal;
}

.about p {
    font-family: 'Raleway Light';
    font-weight: lighter;
    max-width: 650px;
    font-size: 1.15rem;
    line-height: 2.5rem;
    word-wrap: break-word;
}

/* Products */

.category-wide:before {
    padding-top: 50%;
}

.category-square:before, .category-wide:before {
    content: "";
    display: block;
}

.product-categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.category-square, .category-wide {
    height: 50vw;
}

.category-name a{
    color: #fff;
    font-family: 'Raleway Medium';
    font-size: 1.6rem;
    font-weight: 700;
    height: auto;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%,-50%);
}

.category-wide.mens {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/mens-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.category-square.trends {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/trends-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.category-square.glasses {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/glasses-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.category-square.sale {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/sale-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.category-square.bags {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/bags-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

.category-wide.womens {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
    url(../images/womens-category.jpg) no-repeat 50%;
    background-size: cover,cover;
}

/* Footer */

.footer {
    background-color: #242424;
    color: #fff;
    padding: 4rem 0;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    padding: 3em 3em;
}

.footer a {
    color: #fff;
}

.colophon {
    font-family: 'Playfair Display Regular';
    line-height: 1.5;
}

.copyright, .contact {
    margin-bottom: 1.5rem;
}

.address {
    color: #969696;
}

.socials p {
    font-family: 'Raleway Light';
    line-height: 2;
    text-align: left;
    margin-right: 3.5rem;
}

i {
    margin-right: 1.25rem;
    max-width: 10px;
    display: inline-block;
    text-align: center;
}

/* Before */

     .category-wide, .category-square { 
        padding-top: 20%;
    }

    .category-square:before, .category-wide:before {
        content: "";
        display: block;
    }

/* Breakpoints */

@media only screen and (min-width: 600px) {
    .category-wide {
        flex-basis: 50%;
    }
    .category-square {
        flex-basis: 25%;
    }
    .category-wide, .category-square {
        height: 25vw;
    }
}

@media only screen and (min-width: 480px) {

}